.app {
    display: grid;
    place-items: center;
    padding: 2em 4em;
}

.offers_list {
    display: inherit;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

@media (max-width: 1400px) {
    .offers_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .offers_list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .app {
        padding: 2em 1em;
    }
}
